{% extends 'layout.html' %}
{% from 'macros.html' import render_form, render_field %}
{% block body %}
  <h2>Change password</h2>
  {% call render_form(form, action_url=url_for('auth.change_password'), action_text='Change password', btn_class='btn btn-primary') %}
    {{ render_field(form.old_password, placeholder='Old password', type='password', required=1) }}
    {{ render_field(form.new_password, placeholder='New password', type='password', **{"required": 1, "data-parsley-minlength": "6"}) }}
    {{ render_field(form.confirm, placeholder='Confirm Password', type='password', **{"required": 1, "data-parsley-minlength": "6"}) }}
    {% if config.RECAPTCHA_ENABLE %}
      {{ render_field(form.recaptcha) }}
    {% endif %}
  {% endcall %}
{% endblock %}